<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <%- style %>
  <!-- Start of Salesmsg Embed Code -->
    <!-- Start of Salesmsg Embed Code -->
  <script type="text/javascript">
    window.salesmsgSettingsWidget = {
    	api_url: "https://app.salesmessage.com",
    	uuid: "37987539-d97a-43e2-960d-d2dd56abe9ba",
    };
  </script>
  <script type="text/javascript" src="https://d20ufhxg3m5wej.cloudfront.net/js/chat.js"></script>
    <!-- End of Salesmsg Embed Code -->
    <!-- Start of Salesmsg Embed Code -->
  <script type="text/javascript" src="https://d20ufhxg3m5wej.cloudfront.net/js/conversions.js?1651725689960"></script>
  <!-- End of Salesmsg Embed Code -->
</head>
<body>
  <%- body %>
  <footer>
    <%- defineContent('footer') %>
  </footer>
  <%- script %>
</body>
</html>

