<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <%- style %>
    <!-- Start of Salesmsg Embed Code -->
  <script type="text/javascript" src="https://d20ufhxg3m5wej.cloudfront.net/js/conversions.js?1651725689960"></script>
  <!-- End of Salesmsg Embed Code -->
</head>
<body>
  <%- body %>
  <footer>
    <%- defineContent('footer') %>
  </footer>
  <%- script %>
  <script data-jsd-embedded data-key="cdba09d1-fbc3-452b-8bd1-1096541b51f4" data-base-url="https://jsd-widget.atlassian.com" src="https://jsd-widget.atlassian.com/assets/embed.js"></script>
</body>
</html>

